.content3{
    margin-left: 30%;
    margin-RIGHT: 30%;
    margin-top: 5%;
    margin-bottom: 110px;
}
footer {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 0.5px;
    margin-top: 20px;
}
